.edit_glyph {
    font-size: 20px;
}

.edit-dialog-token {
    color: #ffa500 !important;
    font-size: 17px;
    text-decoration: underline !important;
}

.token-sequence-wrapper {
    width: 770px !important;
    word-wrap: break-word !important;
}

.ana-group, .ana-simple-value, .ana-trackback-value {
    border: 1px dotted black;
}